{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card mt-2">
    <h1 class="card-header">Projects</h1>
    <div class="card-body">
      <div class="row">
        {% for project in object_list %}
          <div class="col-md-4">
              <div class="card mb-2">
                  <img class="card-img-top" src="{{ project.header_image.url }}">
                  <div class="card-body">
                      <h5 class="card-title">{{ project.title }}</h5>
                      <p class="card-text">{{ project.short|safe }}</p>
                      <a href="{% url 'detail' project.slug %}"
                        class="btn btn-primary">
                          Read More
                      </a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}