{% extends 'base.html' %}

{% block content %}
  <!-- Personal Contact Information in hCard markup --> 
  <div id="contactinfo" class="vcard card m-2">
    <h2 class="card-header">Personal Info</h2>
    <div class="card-body">
      <h1 class="fn n card-title" id="name"><a class="url" href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site_name }}{% url 'resume_home' %}" rel="me"><span class="given-name">{{ basics.first_name}}</span> <span class="family-name">{{ basics.last_name }}</span></a></h1> 
      <div class="adr">
        <span class="locality">{{ basics.location.city }}</span>, <abbr class="region" title="{{ basics.location.region }}">{{ basics.location.region_shorthand }}</abbr> 
      </div>
      
      {% if basics.email %}
        <div class="email"><a href="mailto:{{ basics.email }}">{{ basics.email }}</a></div>
      {% endif %}

      <p class="summary card-text">
        {{ basics.summary|safe }}
      </p>

    </div>
    <div class="btn-group" role="group" aria-label="Social media links">
      {% for profile in profiles %}
        <a href="{{ profile.url }}" class="btn btn-primary socicon-{{ profile.icon_name }}" title="{{ profile }}"></a>
      {% endfor %}
    </div>
  </div>
  <!-- End Personal Contact Information --> 
  
  <div class="card m-2">
    <h2 class="card-header">Experience</h2>
    <ul id="job-list" class="vcalendar list-group list-group-flush">
      {% for job in work %}
        <li class="experience vevent vcard list-group-item">
          <strong class="org">{{ job.company }}</strong>
          <br />
          <a class="include" href="#name"></a>
          <strong class="title">{{ job.position }}</strong> 
          <span class="period">(<abbr class="dtstart" title="{{ job.full_start_date }}">{{ job.formatted_start_date }}</abbr> - <abbr class="dtend" title="{{ job.full_end_date }}">{{ job.formatted_end_date }}</abbr>)</span>
          
          <div class="description">{{ job.summary }}</div>
          <ul class="achievements">
            {% for a in job.highlight_set.all %}
              <li>{{ a.description }}</li>
            {% endfor %}
          </ul>
          <ul class="projects">
            {% for project in job.project_set.all %}
              <li><a href="{% url 'detail' project.slug %}">{{ project.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="card m-2">
    <h2 class="card-header">Volunteer Experience</h2>
    <ul id="job-list" class="vcalendar list-group list-group-flush">
      {% for job in volunteer_job_list %}
        {% if job.is_public %}
          <li class="experience vevent vcard list-group-item">
            <strong class="org">{{ job.company }}</strong> - <span class="location">{{ job.location }}</span>
            <br />
            <a class="include" href="#name"></a>
            <strong class="title">{{ job.title }}</strong> 
            <span class="period">(<abbr class="dtstart" title="{{ job.full_start_date }}">{{ job.formatted_start_date }}</abbr> - <abbr class="dtend" title="{{ job.full_end_date }}">{{ job.formatted_end_date }}</abbr>)</span>
            
            <div class="description">{{ job.description }}</div>
            <ul class="achievements">
              {% for a in job.accomplishment_set.all %}
                <li>{{ a.description }}</li>
              {% endfor %}
            </ul>
            <ul class="projects">
              {% for project in job.project_set.all %}
                <li><a href="{% url 'detail' project.slug %}">{{ project.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="card m-2">
    <h2 class="card-header">Skills</h2>
    <ul id="skill-list" class="list-group list-group-flush">
      {% for skill in skill_sets %}
        <li class="skill list-group-item"><span class="skill-title">{{ skill.name }}:&nbsp;</span>
          {% for s in skill.skillkeyword_set.all %}
            {{ s.name }}{% if not forloop.last %},&nbsp;{% endif %}
          {% endfor %}
        </li>
      {% endfor %} 
    </ul>
  </div>
  
  <div class="card m-2">
    <h2 class="card-header">Education</h2>
    <ul id="edu-list" class="vcalendar list-group list-group-flush">
      {% for edu in education %}
        <li class="education vevent vcard list-group-item">
          <span class="period"><abbr class="dtstart" title="{{ edu.full_start_date }}">{{ edu.formatted_start_date }}</abbr> - <abbr class="dtend" title="{{ edu.full_end_date }}">{{ edu.formatted_end_date }}</abbr></span> - 
          <span class="org">{{ edu.institution }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}