{% extends 'base.html' %}

{% block content %}
  <div class="card m-2">
    {% if article.header_image %}
      <img class="card-img-top" src="{{ article.header_image.url }}">
    {% endif %}
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="card-title">{{ article.title }}</h3>
        <small>{{ article.date }}</small>
      </div>
      <h5 class="card-subtitle mb-2 text-muted">{{ article.subtitle }}</h5>
      <p>{{ article.text|safe }}</h1>
    </div>
  </div>
{% endblock %}