{% extends "base.html" %}

{% block content %}
  {% if article_list %}
    <div class="list-group p-2">
      {% for article in article_list %}
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="/blog/{{ article.slug }}/">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ article.title }}</h5>
            <small>{{ article.date }}</small>
          </div>
          <p>
            <i>{{ article.short }}</i>
          </p>
          <small>Read more...</small>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No articles are available.</p>
  {% endif %}
{% endblock %}