{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>tsbarnes.com</title>
  <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
	{% compress css %}
		<link rel="stylesheet" type="text/scss" href="{% static 'scss/base.scss' %}">
	{% endcompress %}
	{% block site_css %}{% endblock %}
</head>
<body>
  <nav>
    <a class="navbar-brand" href="/">Home</a>
    <a class="nav-link" href="/blog/">Blog</a>
    <a class="nav-link" href="/resume/">Resume</a>
    <a class="nav-link" href="/portfolio/">Portfolio</a>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>