{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="card col-4">
      {% if basics.picture %}
        <img class="card-img" src="{{ basics.picture.url }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ basics.name }}</h5>
        <small>{{ basics.location.city }}</span>, <abbr class="region" title="{{ basics.location.region }}">{{ basics.location.region_shorthand }}</abbr></small>
        <p class="card-text">
          {% if personal.email %}
            <div class="email"><a href="mailto:{{ basics.email }}">{{ basics.email }}</a></div>
          {% endif %}
        </p>
        <p class="card-text">
          {{ basics.summary }}
        </p>
      </div>
      <div class="card-footer" role="group" aria-label="Social media links">
        {% for profile in profiles %}
          <a href="{{ profile.url }}" class="btn socicon-{{ profile.icon_name }}" title="{{ profile }}"></a>
        {% endfor %}
      </div>
    </div>
    <div class="card col-8">
      <h1 class="card-header">Articles</h1>
      <div class="card-body">
        <div class="row">
          {% for article in articles %}
            <div class="card col-6">
              {% if article.header_image %}
                <img class="card-img" src="{{ article.header_image.url }}">
              {% endif %}
              <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="card-title">{{ article.title }}</h5>
                  <small>{{ article.date }}</small>
                </div>
                <p class="card-text">
                  {{ article.short|safe }}
                </p>
              </div>
              <a class="btn btn-primary align-self-bottom" href="/blog/{{ article.slug }}/">Read more...</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="card">
      <h1 class="card-header">Projects</h1>
      <div class="card-body">
        <div class="row no-gutters">
          {% for project in projects %}
            <div class="card col-4 flex-grow-1">
                <img class="card-img-top" src="{{ project.header_image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.short|safe }}</p>
                </div>
                <a href="{% url 'detail' project.slug %}" class="btn btn-primary align-self-bottom">Read More</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}