@import "socicon";

body {
  background-image: url('/static/img/clouds.gif');
}

.card {
  border: #eeeeee outset 5px;
  background: #eeeeee;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-md-4 {
  width: 33%;
}

.col-md-8 {
  width: 66%;
}

.card-img, .card-img-top {
  width: 100%;
}