@import "socicon";

body {
  background-image: url('/static/img/clouds.gif');
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.card {
  border: #ffffff outset 3px;
  background: #eeeeee;
  margin: 5px;
  display: flex;
  flex-direction: column;

  .card-img, .card-img-top {
    width: 100%;
  }
  
  .card-header {
    margin: 0px;
    padding: 5px;
    color: #ffffff;
    background: #394DCD;
  }
  
  .card-body {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .card {
      border: #ffffff groove 3px;
      padding: 3px;
    }
  }

  .card-footer {
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col-md-4 {
  width: 33%;
  display: flex;
  flex-direction: column;

  & > * {
    height: auto;
  }
}

.col-md-8 {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.btn {
  display: block;
  border: #ffffff outset 3px;
  padding: 5px;
  background: #eeeeee;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;

  border: #ffffff outset 3px;
  background: #eeeeee;
  margin: 5px;

  a {
    display: block;
    margin: 1em;
  }
}